<app-app-navbar (click)="triggerClick()"></app-app-navbar>
 
<div class="col-12" (click)="triggerClick()">
    <div *ngIf="!this.routeHide" class="row mt-3">
        <div class="col-4">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Data Source
                </button>
                <div class="dropdown-menu" style="width: 100% !important;" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" [routerLink]="['/home/internal-ds']"><i class="fa fa-angle-right"
                            aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Add New Internal Data Source</a>
                    <a class="dropdown-item" [routerLink]="['/home/external-ds']"><i class="fa fa-angle-right"
                            aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Add New External Data Source</a>
                    <a class="dropdown-item" [routerLink]="['/home/existing-ds']"><i class="fa fa-angle-right"
                            aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Use Existing Data Source</a>
                </div>
            </div>
    
        </div>
    
        <div class="col-4">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Data Science Platforms
                </button>
                <div class="dropdown-menu" style="width: 100% !important;" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" [routerLink]="['/home/r-dsplatform']"><i class="fa fa-angle-right"
                            aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;R</a>
                    <a class="dropdown-item" [routerLink]="['/home/python-dsplatform']"><i class="fa fa-angle-right"
                            aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Python</a>
                </div>
            </div>
    
        </div>
        <div class="col-4">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reports
                </button>
                <div class="dropdown-menu" style="width: 100% !important;" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" [routerLink]="['/home/existing-reports']"><i class="fa fa-angle-right"
                            aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Existing Reports</a>
                    <a class="dropdown-item" [routerLink]="['/home/new-reports']"><i class="fa fa-angle-right"
                            aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New Reports</a>
                </div>
            </div>
    
        </div>
    
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>