<!-- Image and text -->
<nav class="navbar navbar-light bg-light fdaheader p-3">
    <a class="navbar-brand" [routerLink]="['/login']">
      <img src="assets/logo/us-food-and-drug-administration-fda-logo-vector.svg" width="230" height="230" class="d-inline-block align-top" alt="">

    </a>
  </nav>

  <nav class="navbar" style="background-color: rgb(209, 206, 206); margin-bottom: 50px;">
    <div class="navbar-brand" style="font-size: 22px;color: rgb(73, 71, 71);">
      Resource Capacity Planning
    </div>
  </nav>
<div class="col-12">
    <div style="text-align: center;">
        <amplify-authenticator>
            <amplify-sign-in [handleSubmit]="login()" submit-button-text="Sign in" username-alias="email" slot="sign-in">
    
            </amplify-sign-in>
            <amplify-sign-up username-alias="email" slot="sign-up">
               
            </amplify-sign-up>
            <amplify-forgot-password username-alias="email" slot="forgot-password"></amplify-forgot-password>
            <amplify-sign-out></amplify-sign-out>
        </amplify-authenticator>
    </div>
    
    

</div>

