
.textfield-box-sm .form-control, .input-group-sm > .textfield-box .form-control, .textfield-box-sm .custom-select, .input-group-sm > .textfield-box .custom-select, .textfield-box-sm .form-control-file, .input-group-sm > .textfield-box .form-control-file {
    font-size: 0.8125rem;
    line-height: 1;
    padding: 0.75rem 0.75rem calc(0.75rem - 1px);
}

.fdaheader{
    background-color: #001871 !important;
    }

button{
    background-color: white !important;
} 