<!-- Image and text -->
<nav class="navbar navbar-light bg-light fdaheader p-3">
    <a class="navbar-brand" [routerLink]="['/login']">
      <img src="assets/logo/us-food-and-drug-administration-fda-logo-vector.svg" width="230" height="230" class="d-inline-block align-top" alt="">

    </a>
  </nav>

  <nav class="navbar" style="background-color: rgb(209, 206, 206); margin-bottom: 50px;">
    <div class="navbar-brand" style="font-size: 22px;color: rgb(73, 71, 71);">
      Resource Capacity Planning
    </div>
  </nav>
<div class="col-12">
    
        <div class="amplify-block">
            <amplify-authenticator style="text-align: center;" username-alias="email">
                <amplify-sign-in></amplify-sign-in>
            </amplify-authenticator>
        </div>
    

</div>