<!-- Image and text -->
<nav class="navbar navbar-light bg-light fdaheader p-3">
    <a class="navbar-brand" [routerLink]="['/login']">
      <img src="assets/logo/us-food-and-drug-administration-fda-logo-vector.svg" width="230" height="230" class="d-inline-block align-top" alt="">

    </a>
  </nav>

  <nav class="navbar" style="background-color: rgb(209, 206, 206)">
    <div class="navbar-brand" style="font-size: 22px;color: rgb(73, 71, 71);">
      Resource Capacity Planning
    </div>
  </nav>
<div class="col-12">
    <div class="">
        <form>

            <div class="col-4 offset-md-4 text-center mt-5 p-3">
                <h5 class="text-center ml-5 mb-4">Login into FDA - RCP</h5>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"  id="inputGroup-sizing-sm">Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>

                    <div class="textfield-box textfield-box-sm">
                        <input aria-describedby="exampleTextfieldBox11Help" class="form-control"
                            id="exampleTextfieldBox11" placeholder="" type="text">
                    </div>
                </div>


                <div class="input-group mt-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"  id="inputGroup-sizing-sm">Password</span>
                    </div>
                    <div class="textfield-box textfield-box-sm">
                        <input aria-describedby="exampleTextfieldBox12Help" class="form-control"
                            id="exampleTextfieldBox12" placeholder="" type="password">
                    </div>
                </div>
                <div class="ml-5">
                    <button class="btn btn-primary text-white shadow-none mt-4" style="background-color: #001871;"
                       (click)="login()" type="submit">Submit</button>

                </div>
            <div class="mt-3 ml-5" style="font-style: italic;">
                <a style="color: grey;" [routerLink]="['/reset']">Forgot username/password?</a>
            </div>
            </div>

        </form>
    </div>

</div>