<app-app-navbar></app-app-navbar>
<div class="col-12">
    <div class="">
        <form>

            <div class="col-4 offset-md-4 text-center mt-5 p-3">
                <h5 class="text-center ml-5 mb-4">Reset Password</h5>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Email address</span>
                    </div>

                    <div class="textfield-box textfield-box-sm">
                        <input aria-describedby="exampleTextfieldBox11Help" class="form-control"
                            id="exampleTextfieldBox11" placeholder="" type="text">
                    </div>
                </div>

                <div class="ml-5">
                    <button class="btn btn-primary text-white shadow-none mt-4" style="background-color: #001871;"
                        type="button" (click)="reset()">Reset</button>

                </div>
            </div>

        </form>
    </div>

</div>
