.textfield-box .form-control, .textfield-box .custom-select, .textfield-box .form-control-file {
    background-color: #ffffff !important;
    border-radius: 0px;
    border: 1px solid grey;
    padding: 1rem 1rem calc(1rem - 1px);
}

.textfield-box-sm .form-control, .input-group-sm > .textfield-box .form-control, .textfield-box-sm .custom-select, .input-group-sm > .textfield-box .custom-select, .textfield-box-sm .form-control-file, .input-group-sm > .textfield-box .form-control-file {
    font-size: 0.6125rem;
    line-height: 0.8;
    padding: 0.55rem 0.75rem calc(0.75rem - 1px);
}