<div class="col-12 mt-4">
    <h4 style="color: grey; font-weight: bold">Add New Data Source</h4>
    <h5 style="font-weight: 600;">External Data Source</h5>
    <div class="row mt-3">
        <div class="col-4">
            
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> <a [routerLink]="['/home/external-ds']">SFTP</a></li>
               
                <li class="list-group-item"> <a [routerLink]="['/home/external-ds']"> Fileshare</a></li>
              
                <li class="list-group-item"> <a [routerLink]="['/home/external-ds']">Database</a></li>
              
                <li class="list-group-item"> <a [routerLink]="['/home/external-ds']">Onedrive</a></li>
             
                <li class="list-group-item"> <a [routerLink]="['/home/external-ds']">Website</a></li>

              </ul>
        </div>
        <!-- <div class="col-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> <a>Internal Google Drive</a></li>
               
              </ul>
        </div> -->
    </div>
</div>
